* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #011238, #010413);
  color: #e5e7eb;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  color: #edf0f5;
  text-decoration: none;
  opacity: 0.8;
}

nav a:hover {
  opacity: 1;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 90px 60px;
}

.hero-text h2 {
  font-size: 42px;
}

.hero-text span {
  color: #e2eaed;
}

/* 3D PHOTO */
.hero-card {
  width: 280px;
  height: 350px;
  perspective: 1000px;
}

.hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 25px 50px rgba(2, 252, 252, 0.581);

}

/* SECTIONS */
.section {
  padding: 80px 120px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.dark {
  background: linear-gradient(135deg,#011238, #010413);
}

/* SKILLS */
.skill-grid {
  display:flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.skill-card {
  background: linear-gradient(135deg,#011238, #010413);
  padding: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 90px;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 25px 50px rgba(2, 252, 252, 0.581);
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

.project-card {
  background: #020617;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3 {
  padding: 15px;
}

.project-card p {
  padding: 0 15px 20px;
  opacity: 0.8;
}

.project-card:hover {
  transform: translateY(-15px) rotateX(6deg);
  box-shadow: 0 25px 50px rgba(2, 252, 252, 0.581);
}